<div id="title">
	<h1 class="nasaTitle">"<%= @nasa_info["title"] %>"</h1>
	<br />
	<h2 class="nasaSubtitle">
	<% if @media_type_is_video %>
		 NASA Video of the Day
		<% else %>
		 NASA Photo of the Day
	<% end %>
	</h2>
</div>
<div id="media">
	<% if @media_type_is_video %>
		<iframe id="video" src="<%= @nasa_info["url"] %>"></iframe>
		<% else %>
		<img id="picture" src="<%= @nasa_info["url"] %>" />
	<% end %>
</div>
<div id="summary">
	<div id="clickToOpen">&lt;&lt;</div>
	<div id="summaryAndDate">
	<p><%= @nasa_info["explanation"] %></p>
	<p id="date"><%= @nasa_info["date"] %></p>
	</div>
</div>

